body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
select{
    background-color: transparent;
    border: 0px solid;
}
select:focus{
    outline: none;
}
input{
 
    clear: both;
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: black;
}
textarea:focus, input:focus{
    outline: none;
}

.visualization_type select{
    float: right;
    margin-right: -5%;
    width: auto;
    background-color: transparent;
    border: 0px solid;
}

.vis__{
    margin-left: -12px;
}

